{% extends "base.html.twig" %}

{% block title %}Listing!{% endblock %}

{% block content %}
<div data-brackets-id="4149" class="row">
    <div data-brackets-id="4180" class="col-lg-3 col-md-6">
        <div data-brackets-id="4181" class="panel panel-yellow">
            <div data-brackets-id="4182" class="panel-heading">
                <div data-brackets-id="4183" class="row">
                    <div data-brackets-id="4184" class="col-xs-3">
                        <i data-brackets-id="4185" class="fa fa-shopping-cart fa-5x"></i>
                    </div>
                    <div data-brackets-id="4186" class="col-xs-9 text-right">
                        <div data-brackets-id="4187" class="huge">{{total_items}}</div>
                        <div data-brackets-id="4188">Cantidad de publicaciones</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
        {% if message %}
            <div class="error-message">
            {{ message }}
            </div>
        {% else %}
            {% for item in items %}
        <div class="col-lg-12 singleListProd">
            <div class="text-center col-lg-3">
                <a href="#"><img src="{{ item.thumbnail }}" class="text-center imgList"></a>
            </div>
            <div class="col-lg-5 tituloList">
                <a class="text-center"><h5>{{ item.title }}</h5></a>
            </div>
            <div class="col-lg-4 text-center buttonsList">
                <h3>{{item.currency_id}}{{ item.base_price }}</h3>
                <a href="{{ path('item', {item_id: item.id}) }}" class="btn btn-primary">Promocionar</a>
            </div>
        </div>
        <hr>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
