{% extends "base.html.twig" %}

{% block title %}Listing!{% endblock %}

{% block content %}
<div data-brackets-id="4149" class="row">
    <div data-brackets-id="4150" class="col-lg-3 col-md-6">
        <div data-brackets-id="4151" class="panel panel-primary">
            <div data-brackets-id="4152" class="panel-heading">
                <div data-brackets-id="4153" class="row">
                    <div data-brackets-id="4154" class="col-xs-3">
                        <i data-brackets-id="4155" class="fa fa-comments fa-5x"></i>
                    </div>
                    <div data-brackets-id="4156" class="col-xs-9 text-right">
                        <div data-brackets-id="4157" class="huge">26</div>
                        <div data-brackets-id="4158">New Comments!</div>
                    </div>
                </div>
            </div>
            <a data-brackets-id="4159" href="#">
                <div data-brackets-id="4160" class="panel-footer">
                    <span data-brackets-id="4161" class="pull-left">View Details</span>
                    <span data-brackets-id="4162" class="pull-right"><i data-brackets-id="4163" class="fa fa-arrow-circle-right"></i></span>
                    <div data-brackets-id="4164" class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div data-brackets-id="4165" class="col-lg-3 col-md-6">
        <div data-brackets-id="4166" class="panel panel-green">
            <div data-brackets-id="4167" class="panel-heading">
                <div data-brackets-id="4168" class="row">
                    <div data-brackets-id="4169" class="col-xs-3">
                        <i data-brackets-id="4170" class="fa fa-tasks fa-5x"></i>
                    </div>
                    <div data-brackets-id="4171" class="col-xs-9 text-right">
                        <div data-brackets-id="4172" class="huge">12</div>
                        <div data-brackets-id="4173">New Tasks!</div>
                    </div>
                </div>
            </div>
            <a data-brackets-id="4174" href="#">
                <div data-brackets-id="4175" class="panel-footer">
                    <span data-brackets-id="4176" class="pull-left">View Details</span>
                    <span data-brackets-id="4177" class="pull-right"><i data-brackets-id="4178" class="fa fa-arrow-circle-right"></i></span>
                    <div data-brackets-id="4179" class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div data-brackets-id="4180" class="col-lg-3 col-md-6">
        <div data-brackets-id="4181" class="panel panel-yellow">
            <div data-brackets-id="4182" class="panel-heading">
                <div data-brackets-id="4183" class="row">
                    <div data-brackets-id="4184" class="col-xs-3">
                        <i data-brackets-id="4185" class="fa fa-shopping-cart fa-5x"></i>
                    </div>
                    <div data-brackets-id="4186" class="col-xs-9 text-right">
                        <div data-brackets-id="4187" class="huge">{{total_items}}</div>
                        <div data-brackets-id="4188">Cantidad de publicaciones</div>
                    </div>
                </div>
            </div>
            <a data-brackets-id="4189" href="#">
                <div data-brackets-id="4190" class="panel-footer">
                    <span data-brackets-id="4191" class="pull-left">View Details</span>
                    <span data-brackets-id="4192" class="pull-right"><i data-brackets-id="4193" class="fa fa-arrow-circle-right"></i></span>
                    <div data-brackets-id="4194" class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div data-brackets-id="4195" class="col-lg-3 col-md-6">
        <div data-brackets-id="4196" class="panel panel-red">
            <div data-brackets-id="4197" class="panel-heading">
                <div data-brackets-id="4198" class="row">
                    <div data-brackets-id="4199" class="col-xs-3">
                        <i data-brackets-id="4200" class="fa fa-support fa-5x"></i>
                    </div>
                    <div data-brackets-id="4201" class="col-xs-9 text-right">
                        <div data-brackets-id="4202" class="huge">13</div>
                        <div data-brackets-id="4203">Support Tickets!</div>
                    </div>
                </div>
            </div>
            <a data-brackets-id="4204" href="#">
                <div data-brackets-id="4205" class="panel-footer">
                    <span data-brackets-id="4206" class="pull-left">View Details</span>
                    <span data-brackets-id="4207" class="pull-right"><i data-brackets-id="4208" class="fa fa-arrow-circle-right"></i></span>
                    <div data-brackets-id="4209" class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="row">
        {% if message %}
            <div class="error-message">
            {{ message }}
            </div>
        {% else %}
            {% for item in items %}
        <div class="col-lg-12 singleListProd">
            <div class="text-center col-lg-3">
                <a href="#"><img src="{{ item.thumbnail }}" class="text-center imgList"></a>
            </div>
            <div class="col-lg-5 tituloList">
                <a class="text-center"><h5>{{ item.title }}</h5></a>
            </div>
            <div class="col-lg-4 text-center buttonsList">
                <h3>{{item.currency_id}}{{ item.base_price }}</h3>
                <a href="{{ path('item', {item_id: item.id}) }}" class="btn btn-primary">Promocionar</a>
            </div>
        </div>
        <hr>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
